* {
  font-family: 'Nunito', sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.header {
  align-items: center;
  background-color: #F6D1B9;
  display: flex;
  height: 64px;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  color: #092E46;
  margin-left: 24px;
}

.header .ham-line {
  background-color: #092E46;
  border-radius: 4px;
  margin-right: 24px;
  margin-bottom: 4px;
  height: 4px;
  width: 24px;
}
