* {
  color: #DA6257;
  font-family: 'Nunito', sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
}

button {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  color: #DA6257;
  font-size: 8vw;
  margin-left: 20px;
}
